<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net452" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net452" />
  <package id="Npgsql" version="3.1.6" targetFramework="net452" />
  <package id="NuGet.Core" version="2.12.0" targetFramework="net452" />
  <package id="PostgreSQLCopyHelper" version="1.1.0" targetFramework="net452" />
</packages>